.seccion {
    display: none; /* Ocultas por defecto */
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#mensaje-gracias {
    display: none; /* Oculto por defecto */
    padding: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    margin-top: 20px;
}

.color1{
    background-color: #FFF3C2;
}

.color2{
    background-color: #d3ffc2;
}

.color3{
    background-color: #ebec8c;
}

.color4{
    background-color: #ebb3af;
}

.color5{
    background-color: #5e5e5e;
    color: rgb(226, 226, 226);
}

.color6{
    background-color: #fadda6;
}

.bordeOscuro {
    border-radius: 10px;
    /* Grosor (3px), Estilo (solid) y Color */
    border: 5px solid #d3cba9; 
}

.clearLi{
    list-style-type: none;
}

ol{
    text-align: left;
    font-size: 20px;
}